* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Menu-inicio*/
html {
    scroll-behavior: smooth;
}

nav.sticky {
    padding: 0px 50px 70px 100px;
    background: #10232A;
    z-index: 100;
}

nav.sticky .logo,
nav.sticky ul li a {
    color: #ACABA9;
}

nav.sticky ul li a.active,
nav.sticky ul li a:hover {
    background: #3D4D55;
    opacity: 1;
}

nav {
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;

}

nav .logo img {
    width: 120px;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active {
    opacity: 0;
}

nav .menu-btn i {
    color: #d3aa57;
    cursor: pointer;
    display: none;
}

/*Menu-fim*/



section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*pagina-1-inicio*/
#page-first {
    position: relative;
    background-image: url(im/img-cap.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

}

#page-first h1 {
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    text-shadow: 1px 1px 4px #525252;
    padding: 5px 5px 5px 10px;
    top: 120px;
    text-align: center;

}

#page-first h1 span {
    color: #ff9c2a;
    font-size: 90px;

}

#page-first h4 {
    position: absolute;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 6px #494848;
    text-align: center;
    margin-top: 50px;

}


/*botão-reserva-inicio*/
#wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.button {

    min-width: 200px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #43afa4;
    background: linear-gradient(90deg, rgb(109, 192, 181) 0%, rgb(68, 173, 163) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #C29944;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 50vh;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(50px + 12px);
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #C29944;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}



/*botão-reserva-fim*/
/*pagina-1-fim*/

#page-login {
    background-color: #10232A;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

section #page-login {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

select,
form input {
    width: 100%;
    background-color: #403D37;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    border-radius: 15px;
    color: #dadada;
    font-size: 18px;
    transition: all .3s;

}


form .btn-enviar {
    margin-top: 20px;
    text-align: center;
    z-index: 1;
}

form .btn-enviar input {
    width: 150px;
    background-color: #d3971e;
    color: #403D37;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}

form .btn-enviar input:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #cac7c7;
}

.titulo {
    text-align: center;
    color: #cac7c7;
    margin-top: 50px;
    font-size: 130%;
}

.titulo span {
    font-size: 180%;
    color: #C29944;
    font-weight: 700;
}



/*pagina-2-inicio*/
#page-second {
    position: relative;
    background-image: url(im/fun\ -\ Copia.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: #494848;
    font-size: 30px;
    text-shadow: 1px 1px 6px #494848;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text-second {
    position: absolute;
    margin-bottom: 400px;
    text-shadow: 1px 10px 10px #050000;
}

/*pagina-2-fim*/



/*pagina-3-inicio*/
#page-third {
    background-image: url(im/fun.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: #494848;
    font-size: 30px;
    text-shadow: 1px 1px 6px #494848;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text-third {
    position: absolute;
    margin-bottom: 400px;

    text-shadow: 1px 10px 10px #050000;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 120px;
}

/* Card */
.card {
    width: 300px;
    height: 420px;
    margin: 25px;
    background-color: #49402f;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -20px 20px 10px 0px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

/* Card Header*/
.card-header {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

/* Card Body */
.card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.card-titulo {
    font-size: 25px;
    margin: 10px 0;
}



.card-texto {
    font-size: 13px;
    width: 250px;
    margin: 0 auto;
    color: #8d8d8d;
    margin-top: 3vh;
    font-weight: 700;
}

/* Card Footer */
.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
}

.card-footer a {
    color: #b9b9b9;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

/* Cores Cards */
.card-1 .card-footer {
    background-color: #d3971e;
}

.card-1 .card-titulo {
    color: #cac7c7;
}

.card-2 .card-footer {
    background-color: #d3971e;
}

.card-2 .card-titulo {
    color: #cac7c7;
}

.card-3 .card-footer {
    background-color: #d3971e;
}

.card-3 .card-titulo {
    color: #cac7c7;
}

/* Animação Hover */
.card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

/*pagina-3-fim*/

/*pagina-4-inicio*/
#page-fourth {
    background-color: #10232A;
    color: white;
    font-size: 25px;

}

.mapa iframe {
    position: relative;
    width: 40vw;
    height: 25vw;
    border: 0;
    border-radius: 30px;
    margin-left: 700px;
}

#page-fourth p {
    position: absolute;
    font-size: 20px;
    color: #dadada;
    margin-right: 700px;

}

#page-fourth p span {
    color: #7a6740;
    font-size: 150%;
}

/*pagina-4-fim*/



/*rodapé-inicio*/
footer {
    scroll-snap-align: start;
    background-color: #202020;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8px;
    text-shadow: 1px 1px 6px #494848;
}

/*rodapé-fim*/

/*Menu-inicio-responsivo*/
@media (max-width: 1115px) {
    .mapa iframe {
        position: relative;
        width: 35vw;
        height: 20vw;
        border: 0;
        border-radius: 30px;
        margin-left: 400px;
    }

    #page-fourth p {
        position: absolute;
        font-size: 20px;
        color: #dadada;
        margin-right: 500px;

    }

}


/*Menu-inicio-responsivo*/
@media (max-width: 1066px) {
    #page-third {
        height: 70rem;
    }

    #page-second {
        height: 70rem;
    }

    .text-second {

        top: 15vh;

    }



    #page-first h1 {}


    #page-first h4 {
        opacity: 0;

    }



    .text-third {
        position: absolute;
        margin-bottom: 900px;

    }

    .mapa iframe {
        position: relative;
        width: 35vw;
        height: 20vw;
        border: 0;
        border-radius: 30px;
        margin-left: 400px;
    }

    #page-fourth p {
        margin-left: 10px;
        font-size: 16px;
    }

}



/*Menu-inicio-responsivo*/
@media (max-width: 920px) {

    nav {
        background-color: #10232A;
        z-index: 100;
    }

    nav .menu-btn i {
        display: block;

    }

    nav .logo img {

        width: 90px;
        position: relative;
right: 60px;
    }


    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: #10232A;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;

    }

    nav ul.open {
        left: 0;

    }

    nav ul li {
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 23px;
        color: #ACABA9;
    }

    nav ul li a.active,
    nav ul li a:hover {

        color: #d3aa57;
        opacity: 1;
    }

    nav.sticky {
        padding: 0px 50px 5px 100px;
        background-color: #10232A;
    }

    nav ul li a.active {
        opacity: 0;
    }


}

/*Menu-inicio-responsivo*/
@media (max-width: 716px) {
    #page-third {
        height: 105rem;
    }

    #page-second {
        height: 105rem;
    }

    .text-third {
        position: absolute;
        margin-bottom: 1400px;

    }

    .mapa iframe {
        position: relative;
        width: 40vw;
        height: 30vw;
        margin-left: 200px;
    }

    #page-fourth p {
        margin-left: 200px;
        font-size: 12px;
    }
}

/*Menu-inicio-responsivo*/
@media (max-width: 500px) {
    #page-third {
        height: 105rem;
    }

    #page-second {
        height: 105rem;
    }

    .text-third {
        position: absolute;
        margin-bottom: 1400px;

    }

    .mapa iframe {
        position: relative;
        width: 45vw;
        height: 35vw;
        margin-left: 160px;
    }

    #page-fourth p {
        margin-left: 300px;
        font-size: 18px;
    }
}